<div class="mat-cover" *ngIf="weather">
  <mat-card style="width:500px;display: inline-block" [ngClass]="{'':!weather}" [@slideInOut]>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <app-wind-blow [degree]="weather?.current?.wind_degree"></app-wind-blow>
      </div>
      <mat-card-title style="color: #1d2951">
        {{weather?.location?.name}}
      </mat-card-title>
      <mat-card-subtitle>{{weather?.location?.country}}</mat-card-subtitle>
    </mat-card-header>
    <div style="display:flex; flex-direction: row;margin-bottom: 5px">
      <mat-card style="width: 30%; margin-right: 1%;" [@slideInOut]>
        <img src="{{getPictureByState()}}" alt="" class="images">
      </mat-card>
      <mat-card style="width: 60%;text-align: center;" (dblclick)="isCelsius=!isCelsius">
        <h1 class="versa_text" *ngIf="isCelsius" [@slideInOut]>{{weather?.current?.temp_c}}°C</h1>
        <h1 class="versa_text" *ngIf="!isCelsius" [@slideInOut]>{{weather?.current?.temp_f}}°F</h1>
        <hr style="color: #787777">
        <mat-card-subtitle>© Weather API</mat-card-subtitle>
      </mat-card>
    </div>
    <mat-card style="margin-top:5px;margin-bottom: 5px;" [@slideInOut]>
      <p style="margin-bottom: 10px">Additional</p>
      <div style="display: flex;flex-direction: row;margin-bottom: 5px;margin-top:5px">
        <mat-card class="mat-additional-cards">
          <img src="/assets/icons/UV.png" alt="" class="images">
          <h1 class="add-text">{{weather?.current?.uv}}</h1>
          <progress [value]="getUvRaysLevel()" [class.active-hv]="{'background':getClassUVFromLevel()}"
                    max="100" class="hr-uv" id="progress_uv"></progress>
        </mat-card>
        <mat-card class="mat-additional-cards">
          <img src="/assets/icons/humidity.png" alt="" class="images">
          <h1 class="add-text">{{weather?.current?.humidity}}</h1>
        </mat-card>
        <mat-card class="mat-additional-cards" (dblclick)="isMHP=!isMHP">
          <img src="/assets/icons/flag.png" alt="" class="images">
          <h1 class="add-text" *ngIf="!isMHP">{{weather?.current?.wind_kph| number: '1.0-0'}} km/h</h1>
          <h1 class="add-text" *ngIf="isMHP">{{weather?.current?.wind_mph| number: '1.0-0'}} m/h</h1>
        </mat-card>
        <mat-card style="width: 20%;">
          <img src="/assets/icons/carbon-pollution.png" alt="" class="images">
          <h1 class="add-text">{{weather?.current!.air_quality["co"].toFixed(2).toString().split('.')[0]}}</h1>
        </mat-card>
      </div>
    </mat-card>
  </mat-card>
</div>





